{#include base}
{#title}- hx-delete example{/title}
<h1 class="display-6 text-uppercase">hx-delete</h1>
<nav id="breadcrumb" aria-label="breadcrumb" style="--bs-breadcrumb-divider: '»';">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/" class="link-underline link-underline-opacity-0">home</a></li>
        <li class="breadcrumb-item active" aria-current="page">hx-delete</li>
    </ol>
</nav>
<main>
    <h4>Speakers at JFall 2023</h4>
    {#include HxDeletePage/speakers speakers=speakers}{/}
</main>
{/include}
