{#include base}
{#title}- hx-indicator example{/title}
<h1 class="display-6 text-uppercase">hx-indicator</h1>
<nav id="breadcrumb" aria-label="breadcrumb" style="--bs-breadcrumb-divider: '»';">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/" class="link-underline link-underline-opacity-0">home</a></li>
        <li class="breadcrumb-item active" aria-current="page">hx-indicator</li>
    </ol>
</nav>
<main>
    <h4>
        Speakers at JFall 2023
    </h4>
    <button class="btn btn-primary mb-3" hx-get="/hxindicator/speakers" hx-target="#speakers" hx-trigger="click">
        Refresh speakers (4s)
    </button>
    <ul id="speakers" class="list-group">
    </ul>
</main>
{/include}

<!--
<span class="spinner-border text-info" aria-hidden="true"></span>
-->