{#include base}
{#title}- fallback scenarios{/title}
<h1 class="display-6 text-uppercase">fallback scenarios</h1>
<nav id="breadcrumb" aria-label="breadcrumb" style="--bs-breadcrumb-divider: '»';">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/" class="link-underline link-underline-opacity-0">home</a></li>
        <li class="breadcrumb-item active" aria-current="page">fallback scenarios</li>
    </ol>
</nav>
<main>
{#fragment id=speakers}
    <h4>Speakers at JFall 2023</h4>
    <ul id="speakers" class="list-group">
        {#for speaker in speakers}
        <li class="list-group-item d-flex justify-content-between">
            <div>
                <i class="bi bi-easel-fill"></i>
                {speaker}
            </div>
            <a class="btn btn-sm btn-outline-secondary" 
                href="/fallback/{speaker}/edit"><i class="bi bi-pencil-square"></i> Edit</a></li>
        {/for}
    </ul>
{/fragment}
</main>
{/include}

<!--
<main hx-select="main" hx-target="main" hx-push-url="true">

    hx-get="/fallback/{ speaker}/edit"
-->
