{#include base}
{#title}{/title}
<h1 class="text-uppercase">HTMX Demos</h1>
<main>
<div class="list-group">
    <a class="list-group-item" href="/hxboost"><i class="bi bi-caret-right-fill"></i> hx-boost example</a>
    <a class="list-group-item" href="/hxget"><i class="bi bi-caret-right-fill"></i> hx-get example</a>
    <a class="list-group-item" href="/hxindicator"><i class="bi bi-caret-right-fill"></i> hx-indicator example</a>
    <a class="list-group-item" href="/hxdelete"><i class="bi bi-caret-right-fill"></i> hx-delete example</a>
    <a class="list-group-item" href="/infinitescroll"><i class="bi bi-caret-right-fill"></i> infinite scroll example</a>
</div>
<h4 class="mt-3 text-uppercase">If there's time</h4>
<div class="list-group">
    <a class="list-group-item" href="/changetoedit"><i class="bi bi-caret-right-fill"></i> change to edit example</a>
    <a class="list-group-item" href="/fallback"><i class="bi bi-caret-right-fill"></i> fallback example</a>
    <a class="list-group-item" href="/viewtransition"><i class="bi bi-caret-right-fill"></i> view transition example</a>
    <a class="list-group-item" href="/onload"><i class="bi bi-caret-right-fill"></i> load example</a>
    <a class="list-group-item" href="/menu"><i class="bi bi-caret-right-fill"></i> menu example</a>
</div>
</main>
{/include}
