{#include base}
{#title}- hx-get example{/title}
<h1 class="display-6 text-uppercase">hx-get</h1>
<nav id="breadcrumb" aria-label="breadcrumb" style="--bs-breadcrumb-divider: '»';">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/" class="link-underline link-underline-opacity-0">home</a></li>
        <li class="breadcrumb-item active" aria-current="page">hx-get</li>
    </ol>
</nav>
<main>
    <h4>Speakers at HX-CONF</h4>
    <button 
        class="btn btn-primary mb-3">Refresh speakers</button>
    <ul id="speakers" class="list-group">
{#fragment id=speakers}
{#for speaker in speakers}
        <li class="list-group-item"><i class="bi bi-easel-fill"></i> {speaker}</li>
{/for}
{/fragment}
    </ul>
</main>
{/include}

<!--
    hx-get="/hxget/speakers" 
    hx-target="#speakers" 
    hx-trigger="click"
-->
