{#include base}
{#title}- hx-get example{/title}
<style>
.fade-me-in.htmx-added {
  opacity: 0;
}
.fade-me-in {
  opacity: 1;
  transition: opacity 500ms ease-out;
}
  </style> 
<h1 class="display-6 text-uppercase">hx-get</h1>
<nav id="breadcrumb" aria-label="breadcrumb" style="--bs-breadcrumb-divider: '»';">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/" class="link-underline link-underline-opacity-0">home</a></li>
        <li class="breadcrumb-item active" aria-current="page">hx-get</li>
    </ol>
</nav>
<main>
    <h4>Speakers at HX-CONF</h4>
    <button 
        class="btn btn-primary mb-3">Refresh speakers</button>
    <button 
        class="btn btn-primary mb-3">Add speaker</button>

    <ul id="speakers" class="list-group">
{#fragment id=speakers}
{#for speaker in speakers}
        <li class="list-group-item"><i class="bi bi-easel-fill"></i> {speaker}</li>
{/for}
{/fragment}
    </ul>
</main>
{/include}

<!--
        hx-get="/hxget/speakers" 
        hx-target="#speakers" 
        hx-trigger="click"

        hx-swap="afterbegin settle:500ms"
        hx-get="/hxget/speakers/add" 
        hx-target="#speakers" 
        hx-trigger="click"
-->
